<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<extension
      id="com.unimod.fsmleditor.FSMLEditor"
      name="FSML Editor"
      point="org.eclipse.ui.editors">
	<editor
       class="com.unimod.fsmleditor.FSMLEditor"
       contributorClass="com.unimod.fsmleditor.action.FSMLActionContributor"
       extensions="fsml"
       icon="icons/sample.gif"
       id="com.unimod.fsmleditor.FSMLEditor"
       name="FSML Editor">
	</editor>
</extension>
<extension
      id="FSMLDocumentSetupParticipant"
      name="FSML Document Setup Participant"
      point="org.eclipse.core.filebuffers.documentSetup">
   <participant
         class="com.unimod.fsmleditor.FSMLDocumentSetupParticipant"
         extensions="fsml"/>
</extension>
<extension
	point="org.eclipse.ui.popupMenus">
	<viewerContribution 
		id="com.unimod.fsmleditor.viewer.contribution"
		targetID="com.unimod.fsmleditor.FSMLEditor.context"> 
		<action
			id="com.unimod.fsmleditor.viewer.contribution.generateUniModXmlAction" 
			label="Generate UniMod xml file"
			menubarPath="additions" 
			class="com.unimod.fsmleditor.action.GenerateUniModXmlActionDelegate"> 
		</action> 
	</viewerContribution> 
</extension>

</plugin>
